@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .polygon {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* * {
  border: 1px solid red;
} */
body {
  overflow-x: hidden;
}
